:root {
  --primary-light-color: #ebebeb;
  --primary-dim-color: #fcf0e4;
  --dark-bg-color: #013d29;
  --light-bg-color: rgba(56, 250, 185, 0.66);
  --light-grey: #858585;
  --scalling: 1.02;
  --admin-bg:#fef;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  background-color: var(--primary-light-color);
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0 100px;
  margin-top: 70px;
}